.text-reset {
    color: grey;
}

span {
    color: orangered;
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.spa {
    color: white;
}

label {
    color: orangered;
    font: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    background-color: #f1e970;
    border-radius: 30%;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul.nav-item.li :hover {
    color: orangered;
    background: yellow;
}

.newsletter {
    padding: 25px 0;
    background: #f2f2f2;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 600;
}

.carousel-content {
    position: absolute;
    bottom: 60%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.category_block li:hover {
    background-color: #007bff;
}

.category_block li:hover a {
    color: #ffffff;
}

.category_block li a {
    color: #343a40;
}

.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}

.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}

.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.product_rassurance .list-inline li:hover {
    color: #343a40;
}

.reviews_product .fa-star {
    color: gold;
}

.pagination {
    margin-top: 20px;
}

footer {
    background: #343a40;
    padding: 40px;
}

footer a {
    color: rgb(0, 0, 0)
}


/* 
 */

.main-section {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(235, 82, 73, .7), rgba(0, 0, 0, .7)), url("images/about.png");
    height: 250px;
    background-size: cover;
}

.main-section i {
    font-size: 35px;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

.main-section .section-part {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}


/* corousel */